.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full viewport height */
}

.card-wrapper {
  width: 50%; /* Card takes up 50% of the screen width */
  height: 50%; /* Card takes up 50% of the screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a card effect */
  background-color: white; /* Ensure background is white */
  border-radius: 8px; /* Add rounded corners */
  text-align: center; /* Center text content */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card-image {
  width: 50%;
  height: auto;
  margin-bottom: 20px; /* Add space below the image */
  display: block;
}

.card-content {
  margin-bottom: 20px; /* Add space below the card content */
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3a90ea;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e23571;
}
