<div class="container">
  <div class="card-wrapper">
    <mat-card class="example-card" appearance="outlined">
      <div class="content-wrapper">
        <img
          mat-card-image
          [src]="data.avatar"
          alt="Photo of a Shiba Inu"
          class="card-image"
        />
        <mat-card-content class="card-content">
          <mat-card-title>
            {{ data.id + " ." + data.first_name + " " + data.last_name }}
          </mat-card-title>
        </mat-card-content>
        <button mat-fab (click)="goPrevious()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
