<div class="navitems">
  <div class="nav-item">
    <span style="font-weight: bolder; font-size: xx-large">DashBoard</span>
  </div>
  <hr />
  <div class="nav-item">
    <mat-icon class="icon">view_compact</mat-icon>
    <span> <a routerLink="DashBoard"> DashBoard</a></span>
  </div>
  <div class="nav-item">
    <mat-icon class="icon">view_comfy</mat-icon>
    <span><a routerLink="Tables">Users</a></span>
  </div>
  <div class="nav-item">
    <mat-icon class="icon"> show_chart</mat-icon>
    <span><a routerLink="Statistics"> Statistics</a></span>
  </div>
  <div class="nav-item">
    <mat-icon class="icon"> phone</mat-icon>
    <span><a routerLink="Contact">Contact</a></span>
  </div>
  <div class="nav-item">
    <mat-icon class="icon">notifications_none</mat-icon>
    <span>Notification</span>
  </div>
</div>
