.navitems {
  display: block;
  justify-content: center;
  justify-content: space-between;
  margin-top: 5%;
  .nav-item {
    display: flex;
    justify-items: start;
    padding: 30px 50px;
  }
  .icon {
    margin-right: 3%;
  }
  .nav-item:hover {
    display: flex;
    justify-items: start;
    padding: 30px 50px;
    color: #e23571;
  }
  .icon:hover {
    margin-right: 3%;
    color: #e23571;
  }
}
hr {
  width: 80%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 10%;
  opacity: 55%;
}
a {
  color: white;
  text-decoration: none;
}
