<div class="top-section">
  <app-card
    class="card"
    Title="Today's Money"
    Medium="346$"
    longText="+55% than last month"
  ></app-card>
  <app-card
    class="card"
    Title="Sales"
    Medium="10390$"
    longText="+5% than last month"
    account_balance_wallet="attach_money"
  ></app-card>
  <app-card
    class="card"
    class="card"
    Title="Progress"
    Medium="high"
    longText="+15% than last month"
    account_balance_wallet="trending_up"
  ></app-card>
</div>
<div class="middle-section">
  <app-graph-card></app-graph-card>
  <app-graph-card></app-graph-card>
</div>
<div class="bottom-section"></div>
